/* Normalización: */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*esto mantiene el ancho y alto a pesar el padding y margin */
    font-family: 'Inconsolata', monospace; /*fuente de consola */
    list-style: none; /*quita los puntos de las listas */
    text-decoration: none; /*quita el subrayado de los enlaces */
    color: white; /*color de texto por defecto */
}

body{
    background-color: black;
}

header{
    position: fixed; /*fija el header en la parte superior */
    right: 0;
    top: 0;
    z-index: 100; /*asegura que el header esté por encima de otros elementos */
    width: 100%;
    display: flex; /*flexbox para alinear los elementos */
    align-items: center; /*centra los elementos verticalmente */
    justify-content: space-between; /*espacio entre los elementos */
    padding: 15px 3%; /*espaciado interno */
    background-color: transparent; /*fondo transparente */
}

.logo{
    font-size: 30px; /*tamaño de la fuente del logo */
    font-weight: 800; /*negrita para el logo */
}

.navlist{
    display: flex; /* utiliza flexbox para la lista de navegación */
}

.navlist a{
    margin-left: 60px; /*espacio entre los enlaces */
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /*borde inferior transparente */
    transition: all .5s ease; /*transición suave para el hover */
}

.navlist a:hover{
    border-bottom: 2px solid white; /*cambia el borde inferior a blanco en hover */
}

#menu-icon{
    display: none; /*oculta el icono del menú por defecto */
}

#menu-icon{
    color: white; /*color del icono del menú */
    font-size: 35px; /*tamaño del icono del menú */
    z-index: 101; /*asegura que el icono esté por encima de otros elementos */
    cursor: pointer; /*cursor de mano al pasar por encima */
}

#menu-toggle{
    display: none; /*oculta el toggle del menú por defecto */
}

.menu-icon{
    display: none; /*oculta el icono del menú por defecto */
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh; /*mínimo alto de la sección hero */
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
    position: relative; /*posicionamiento relativo para el contenido */
    display: grid;
    grid-template-columns: 1fr 1fr; /*dos columnas de igual tamaño */
    align-items: center; /*centra los elementos verticalmente */
    gap: 2rem; /*espacio entre las columnas */
}

section{
    padding: 0 8%; /*espaciado interno de las secciones */
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h4{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text h1{
    font-family: 'Roboto Mono', monospace; /*fuente de consola para el título */
    font-size: 50px; /*tamaño del título */
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text p{
    font-size: 80%; /*tamaño del párrafo */
    margin-bottom: 40px; /*espacio debajo del párrafo */
    line-height: 1.9; /*altura de línea para el párrafo */
}

.hero-image img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 2s linear; /*transición suave para la imagen */
}

.hero-image img:hover{
    width: 450px; /*aumenta el tamaño de la imagen al pasar el ratón */
    opacity: 0.7; /*reduce la opacidad de la imagen al pasar el ratón */
    transform: translateY(-3px); /*desplaza la imagen hacia arriba al pasar el ratón */
}

.hero-text a{
    display: inline-block; /*bloque en línea para el enlace */
    background-color: #4d4d4d; /*fondo del botón */
    border: 1px solid transparent; /*borde transparente del botón */
    padding: 15px 30px; /*espaciado interno del botón */
    line-height: 1.4; /*altura de línea del botón */
    font-size: 14px; /*tamaño de la fuente del botón */
    font-weight: 500; /*negrita para el texto del botón */
    border-radius: 30px; /*bordes redondeados del botón */
    text-transform: uppercase;
    transition: all .5s ease; /*transición suave para el hover */
}

.hero-text a:hover{
    background-color: transparent; /*cambia el fondo del botón a transparente en hover */
    border: 1px solid white; /*cambia el borde del botón a blanco en hover */
    transform: translateX(8px); /*desplaza el botón hacia la derecha en hover */
}

.hero-text a.proyectos{
    background-color: transparent; /*fondo transparente para el botón de proyectos */
    border: 1px solid white; /*borde blanco para el botón de proyectos */
    margin-left: 20px; /*espacio a la izquierda del botón de proyectos */
}

.hero-text a.proyectos i{
    vertical-align: middle; /*alineación vertical del icono */
    margin-right: 5px; /*espacio a la derecha del icono */
}

.icons{
    position: absolute; /*posicionamiento absoluto para los iconos */
    top: 50vh; /*posición vertical al 50% de la ventana */
    padding: 0 3%; /*espaciado interno */
    transform: translateY(-50%); /*ajusta la posición para centrar */
}

.icons i{
    display: block; /*bloque en línea para los iconos */
    margin: 26px 0; /*espacio alrededor de los iconos */
    font-size: 28px; /*tamaño de los iconos */
    transition: all 0.5s ease; /*transición suave para el hover */
}

.icons i:hover{
    color: #4d4d4d; /*cambia el color de los iconos a gris en hover */
    transform: translateY(-5px); /*desplaza los iconos hacia arriba en hover */
}

.scroll-down{
    position: absolute; /*posicionamiento absoluto para el scroll down */
    bottom: 6%; /*posición en la parte inferior */
    right: 3%; /*centra horizontalmente */
}

.scroll-down i{
    display: block; /*bloque en línea para el icono de scroll */
    padding: 12px; /*espaciado interno del icono de scroll */
    font-size: 25px; /*tamaño del icono de scroll */
    background-color: #21383d; /*color del icono de scroll */
    border-radius: 30px; /*bordes redondeados del icono de scroll */
    transition: all 0.5s ease; /*transición suave para el hover */
}

.scroll-down i:hover{
    transform: translateX(-5px); /*desplaza el icono de scroll hacia la izquierda en hover */
    color: #4d4d4d; /*cambia el color del icono de scroll a gris en hover */
}

/* Esta parte es para el mediaqueries para el responsive */
@media (max-width: 992px) {
    section{
        padding: 0 3%; /*reduce el espaciado interno de las secciones en pantallas pequeñas */
        transition: .2s; /*transición suave para el espaciado interno */
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-image{
        text-align: center; /*centra la imagen en pantallas pequeñas */
    }

    .hero-image img{
        width: 80%; /*reduce el tamaño de la imagen en pantallas pequeñas */
        margin: 10% 0 0 10%; /*centra la imagen horizontalmente */
    }

    .hero-text p{
        font-size: 70%; /*reduce el tamaño del título en pantallas pequeñas */
    }

    .icons{
        display: none; /*oculta los iconos en pantallas pequeñas */
    }

    .scroll-down{
        display: none; /*oculta el scroll down en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    .menu-icon{
        display: block; /*muestra el icono del menú en pantallas pequeñas */
    }

    #menu-icon{
        display: block; /*muestra el icono del menú en pantallas pequeñas */
    }

    .hero-text{
        text-align: center; /*centra el texto en la sección hero en pantallas pequeñas */
        padding-top: 100px; /*añade espaciado superior para el texto en pantallas pequeñas */
    }

    .hero-image img{
        margin: 0; /*quita el margen de la imagen en pantallas pequeñas */
    }

    .hero{
        height: 100%; /*mantiene la altura de la sección hero en pantallas pequeñas */
        gap: 1rem; /*reduce el espacio entre las columnas en pantallas pequeñas */
        grid-template-columns: 1fr; /*una sola columna en pantallas pequeñas */
    }

    .navlist{
        position: absolute; /*posiciona la lista de navegación de forma absoluta */
        top: 100%; /*coloca la lista debajo del header */
        right: -100%; /*alineación a la derecha */
        width: 200px; /*ancho fijo para la lista de navegación */
        height: 180px; /*altura fija para la lista de navegación */
        background-color: #021719ef; /*fondo oscuro para la lista de navegación */
        display: flex; /*utiliza flexbox para la lista de navegación */
        flex-direction: column; /*coloca los enlaces en una columna */
        align-items: center; /*centra los enlaces horizontalmente */
        padding: 30px 20px; /*espaciado interno de la lista de navegación */
        transition: all 0.5s ease-out; /*transición suave para la lista de navegación */
    }

    .navlist a{
        margin: 7px 0; /*espacio entre los enlaces en la lista de navegación */
        display: block; /*bloque en línea para los enlaces de la lista de navegación */
    }

    #menu-toggle:checked + label.menu-icon + ul{
        right: 0; /*muestra la lista de navegación al activar el toggle */
    }
}